@import "colors";

#header-container{
  width: 100%;
  height: 90px;
  background-color: $surface-e;
  padding-top: 15px;
  padding-bottom: 15px;
  #user{
    column-gap: 5px;
  }
  img{
    border-radius: 100%;
    height: 60px;
    width: 60px;

  }
}
