@import "colors";

.title{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.email{
  font-size: 1rem;
  font-weight: normal;
  color:$text-secondary;
  display: flex;
  column-gap: 5px;
}
