#wrapper{
  height: 100%;
  overflow: auto;
}

.container{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1{
  font-size: 1.75rem;
  color:white;
  margin-bottom: 1.5rem;
}

ul{
  row-gap: 1rem;
}
