

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('woff/Montserrat-Regular.woff') format('woff'),
  url('ttf/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
	src: local('Montserrat Medium'), url('woff/Montserrat-Medium.woff') format('woff'),
	url('ttf/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
	src: local('Montserrat SemiBold'), url('woff/Montserrat-SemiBold.woff') format('woff'),
	url('ttf/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
	src: local('Montserrat Bold'), url('woff/Montserrat-Bold.woff') format('woff'),
	url('ttf/Montserrat-Bold.ttf') format('truetype');
}

